
.logo {
    height: 50px; /* Ajusta este valor según prefieras */
    width: auto;  /* Mantiene la proporción */
    object-fit: contain;
    padding: 5px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333; /* O el color de tu torneo */
}
